# Python virtual environment
venv/
env/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
static/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/